html {
    font-size: 62,5% ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(234, 242, 245);
}


.header {
    background-image: url(https://food-images.files.bbci.co.uk/food/recipes/cinnamon_rolls_38056_16x9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding: 400px;
}

.navbar {
    padding: 12px;
}

.navbar-brand{
    font-size: 35px;
}

.navbar li a:hover {
    color: rgb(125, 162, 219)
}


.contenido1 h2{
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-weight: 50;
    padding: 20px; 
    margin: 30px;
    font-family: serif;
}

.contenido1 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
}


.contenido2 h3{
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-weight: 50;
    padding: 20px; 
    margin: 30px;
    font-family: serif;
}

.contenido2 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
}


.image1 {
    width: 650px;
    height: 450px;
    margin: 50px;
    padding: 20px;
}


.image2 {
    width: 700px;
    height: 500px;
    margin: 50px;
    padding: 20px;
}

.copyright {
    font-weight: bold;;
}


.enlaces {
    text-decoration: underline;
}

.footer-design {
    text-align: center;
    color: black;
}

.footer-design a{
    color: black;
}

.table {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.pinimg.com/originals/fa/d9/8e/fad98e93aa014d8d8447bdf326c88f3e.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
}

.recomendaciones h1{
    font-size: 35px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    text-decoration: underline;
}


.recomendaciones {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.playlist {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-style: italic;
}

.spotify {
    margin: 20px; 
    padding: 20px;
}

.spotify {
    margin: 20px; 
    padding: 20px;
}

.spotify {
    margin: 20px; 
    padding: 20px;
}

.spotify {
    margin: 20px; 
    padding: 20px;
}

.spotify {
    margin: 20px; 
    padding: 20px;
}

.spotify {
    margin: 20px; 
    padding: 20px;
}

.spotify {
    margin: 20px; 
    padding: 20px;
}

.spotify {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.spotify div{
    background-color: rgb(190, 182, 182);
}


.recipe{
    list-style-type:circle;
    font-size: 20px;
    text-align: left;
    font-style:normal;
    font-family: serif;
    line-height: 1.8;
    padding: 10px;
}

.recipes h1{
    font-size: 35px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    text-decoration: underline;
}


.recipes h3{
    font-size: 25px;
    font-family: serif;
    font-weight: normal;
    text-align: left;
    padding: 40px;
    text-decoration: underline;
}

.contact h1{
    font-size: 35px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    text-decoration: underline;
}

.contact{
    list-style-type:circle;
    font-size: 20px;
    text-align: left;
    font-style:normal;
    font-family: serif;
    line-height: 1.8;
    padding-bottom: 30px;
}


.subtitulo h2{
    font-size: 35px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    text-decoration: underline;
}


.subtitulo p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}