.contact{
    list-style-type:circle;
    font-size: 15px;
    text-align: left;
    font-style:normal;
    font-family: serif;
    line-height: 1.8;
    padding-bottom: 30px;
    h1{
        font-size: $fontSize;
        font-family: serif;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }
}
