
.recipes h1{
    font-size: $fontSize;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    h3{
        font-size: 25px;
        font-family: serif;
        font-weight: normal;
        text-align: left; 
        text-decoration: underline;
    }
}
