.recomendaciones {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    h1{
        font-size: $fontSize;
        font-family: serif;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }
}

.table {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.pinimg.com/originals/fa/d9/8e/fad98e93aa014d8d8447bdf326c88f3e.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}